*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.turtleMoveGreen {
	position: absolute;
	height: 100px;
	width: : auto;
	left: 21%;
	top:53%;
	margin-left: 35px;

}
.turtleMoveRed {
	position: absolute;
	height: 100px;
	width: : auto;
	left: 21%;
	top:53%;
	margin-left: 1px;
}

.container-fluid {
	background-image: url("../images/background.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: auto;
}
#players{
	position: relative;
	top:20%;
	height: 300px;
	width: 100%;
}
#bg {
	position: absolute;
	left: 20%;
	top:0;
	height: 300px;
	width: 59%;
}


#tittle{
	position: absolute;
	max-width: 500px;
	top:80%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #0d3a00;
	font-family: 'Permanent Marker', cursive;
	
}

span {
	color:#e83535;
}

.turtleRed-bg {
	position: absolute;
	float:right;
	height: 500px;
	width: auto;
	z-index: -1;
}
.turtleGreen-bg {
	position: absolute;
	float:right;
	height: 500px;
	width: auto;
	z-index: -1;
}

#reset{
	position: absolute;
	left: 43%;
	top: 90%;
	margin: 10px;
	background-color: rgba(127, 232, 116,0.6);
	border:2px solid black;
	color: red;
	font-family: 'Permanent Marker', cursive;

}
#winner{
	position: absolute;
	max-width:430px;
	top:20%;
	left: 35%;
	color: #0d3a00;
	font-family: 'Permanent Marker', cursive;
	z-index: 2;
}
.Ups{
	position: relative;
	top: 30%;
	margin-left: 23%;
	z-index: 1;
	font-family: 'Permanent Marker', cursive;
}

#redUps{
	color:#a00303;
}
#greenUps{
	color: #0d3a00;
}
.ins{
	position: absolute;
	top: 7%;
	margin-left: 10%;

	font-family: 'Permanent Marker', cursive;
}
.footer-bg {
	background-color: green;
}